.data  {
    width: 100%;
    height: 80%;
    background-color: rgb(64, 63, 63);
    display: flex;
    justify-content: start;
    align-items:start; 
    padding: 3%;
    flex-wrap: wrap;
    gap: 4px;
}